@mixin h1{
  font-family: $system-default-font-family-plex-bold;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.2;
}

@mixin h2 {
  font-family: $system-default-font-family-plex-bold;
  font-weight: bold;
  font-size: 40px;
  line-height: 100;
}

@mixin h3 {
  font-family: $system-default-font-family-plex-light;
  font-weight: lighter;
  font-size: 24px;
  line-height: 1.2em;
}

@mixin copy($fontweight:bold, $size:22px, $lineHeight:1.2, $spacing:0%, $font-family:$system-default-font-family-mono) {
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $spacing;
  font-weight: $fontweight;

  @if $fontweight == light {
    font-family: $system-default-font-family-plex-light;
  } @else if $fontweight == medium{
    font-family: $system-default-font-family-mono-medium;
  }else{
    font-family: $system-default-font-family-mono;
  }
}

@mixin copyLight {
  @include copy($size:18px, $fontweight:200, $lineHeight:1.2);
}

@mixin copyMedium {
  @include copy($fontweight:medium, $lineHeight:1.2);
}

@mixin copyMicro {
  @include copy($size:14px, $fontweight: 500, $lineHeight:1.2 );
}

@mixin copyMicroBold {
  @include copyMicro;
  font-weight: bold;
}
