@mixin h1{
  font-family: $system-default-font-family-plex-bold;
  font-weight: bold;
  font-size: 92px !important;
  line-height: 128px;
  letter-spacing: -0.02em;
}

@mixin h2 {
  font-family: $system-default-font-family-plex-light;
  font-weight: bold;
  font-size: 32px;
  line-height: 56px;
  letter-spacing: -0.02em;
}

@mixin h3 {
  font-family: $system-default-font-family-plex-light;
  font-weight: lighter;
  font-size: 20px;
  line-height: 1.2em;
}

@mixin copy($fontweight:light, $size:24px, $lineHeight:38px, $spacing:-0.02em, $font-family:$system-default-font-family-plex-light) {
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $spacing;
  font-weight: $fontweight;

  @if $fontweight == bold {
    font-family: $system-default-font-family-plex-bold;
  } @else if $fontweight == medium{
    font-family: $system-default-font-family-mono-medium;
  }else{
    font-family: $system-default-font-family-mono;
  }
}

@mixin copyMedium {
  @include copy($fontweight:500, $lineHeight:1.2);
}

@mixin copyMicro {
  @include copy($size:19px, $fontweight: 500, $lineHeight:1.2 );
}

@mixin copyMicroBold {
  @include copyMicro;
  font-weight: bold;
}
